@font-face {
  font-family: 'iconfont';  /* project id 285307 */
  src: url('//at.alicdn.com/t/font_n54ykh6jcxmq85mi.eot');
  src: url('//at.alicdn.com/t/font_n54ykh6jcxmq85mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_n54ykh6jcxmq85mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_n54ykh6jcxmq85mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_n54ykh6jcxmq85mi.svg#iconfont') format('svg');
}
